body
{
    background-color: gray;
    background-image: url("../backgroudimage/2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x:70% ;
    margin: 0px;
    }
div#top
    {
    background-color:darkslateblue;
    position: relative;    
    border:2px solid;
    width: 100%;
    }
div#NAV
{   height: 100px;
    width: 100%   
}
div#middle
{
    position: relative;
    top: 100%;
    height: 2000px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
div#setbottom
{
    color: black;
    margin: 2px;
    font: bold;
    position: absolute;
    left: 40%;
    width: 20%;
    text-align:center
}
div#setbottom:hover
{
    text-shadow: 1px;
    background-color: rgba(200,100,200, 0.3);
    color:purple;
    border: 2px solid;
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
div#settingarea
{
    border: 2px solid;
    -webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
canvas#mainCanvas
{border: 2px solid;
width: 100%
}
div#end
{
    height:50%;
    width: 100%;
    background-color: gray;
    }
img#planeptune
{
position:relative;

width: 100%;
    }
